/* GLOBAL */
:root {
  --white: #FFFFFF;
  --grey50: #F0F0F0;
  --grey100: #E0E0E0;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
  font: 400 16px "Inter", sans-serif;
}

p {
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER STYLE */
.header {
  display: flex;
  background-color: var(--black);
  justify-content: center;
  padding: 28px 0;
}

.header img {
  display: block;
}

/* MAIN - SECTIONS */

/* MAIN BANNER */
.main-banner-desktop,
.main-banner-mobile {
  display: block;
  width: 100%;
}

/* SECTION INFOCARD TOP*/
.infocard-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infocard-top-text {
  max-width: 766px;
  margin: 94px 16px 76px;
}

.infocard-top-subtitle {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.infocard-top-title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
}

.infocard-top-image {
  margin-bottom: 186px;
}

/* SECTION CARDS ONE */
.card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 16px 28px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  text-align: center;
}

.card img {
  display: block;
  margin-bottom: 30px;
}

.cards-top {
  display: flex;
  margin: 0 16px 80px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px
}

.cards-top p {
  max-width: 368px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

/* SECTION BANNERS BOTTOM*/

.section-banners {
  padding: 50px 0;
}

.banners-container-wrapper {
  display: flex;
  background: linear-gradient(to bottom, var(--grey100), var(--grey100) 84%, var(--white) 84%);
  justify-content: center;
  margin-bottom: 120px
}

.banners-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 63px;
  margin: 16px;
}


.bottom-banner {
  width: 100%;
  margin-top: 10px;
  max-width: 556px;
  display: block;
  padding: 0 10px;
}

.bottom-container-two {
  display: grid;
  grid-template-columns: 50% 50%;
}

.bottom-container-one {
  display: grid;
  grid-template-columns: 100%;
}

/* SECTION CARDS BOTTOM */

.card-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 36px 32px 66px;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.card-bottom img {
  display: block;
  margin-bottom: 30px;
}

.cards-bottom {
  margin: 0 16px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 16px;
}

.cards-bottom p {
  max-width: 368px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

/* SECTION INFO CARD BOTTOM */

.infocard-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infocard-bottom-text {
  max-width: 550px;
  margin: 138px 16px 30px;
}

.infocard-bottom-text h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  margin-bottom: 18px;

  text-align: center;
}

.infocard-bottom-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

.infocard-bottom img {
  max-width: 100%;
  margin-bottom: 109px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 128px;
  background-color: var(--black);
  margin: auto 0;
}

.footer ul {
  display: flex;
  list-style: none;
  margin-bottom: 16px;
}

.footer ul li {
  margin: 0 8px;
}

.footer span {
  text-transform: uppercase;
  line-height: 12px;
  font-size: 10px;
  color: var(--grey100);
}

@media screen and (min-width: 769px) and (max-width: 1840px) {
  .cards-bottom {
    grid-template-columns: repeat(2, max-content);
  }
}

@media screen and (max-width: 992px) {


  .cards-bottom {
    grid-template-columns: 1fr;
  }

  .card-bottom {
    max-width: 100%;
  }

  .card-bottom p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {

  /* SECTION INFOCARD TOP */
  .infocard-top-image {
    max-width: 240px;
  }

  .infocard-top-title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .infocard-top-subtitle {
    font-size: 20px;
  }

  .infocard-top-text {
    max-width: 766px;
    margin: 84px 16px 66px;
    text-align: center;
  }

  .infocard-top-image {
    margin-bottom: 80px;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  /* SECTION BANNERS BOTTOM */

  .banners-container {
    top: 32px
  }

  .bottom-banner {
    padding: 0 5px;
  }

  /* SECTION INFOCARD BOTTOM */
  .infocard-bottom-text h2 {
    font-size: 24px;
  }

  /* FOOTER */
  .footer div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footer div:nth-child(2) span:nth-child(2) {
    display: none;
  }

}

@media screen and (max-width:490px) {

  /* IMAGES DESKTOP */
  .main-banner-desktop,
  .flex-img-desktop,
  .image-bottom-desktop {
    display: none;
  }

  /* SECTION BANNERS BOTOM */
  .banners-container {
    display: block;
  }

  .banners-container-wrapper {
    background: linear-gradient(to bottom, var(--grey100), var(--grey100) 85%, var(--white) 85%);
  }

  /* SECTION INFOCARD BOTTOM */
  .infocard-bottom-text {
    margin: 51px 16px 104px;
  }

  .infocard-bottom img {
    order: -1;
    margin: 80px 0 51px;
  }
}

@media screen and (min-width:490px) {

  /* IMAGES MOBILE */
  .main-banner-mobile,
  .flex-img-mobile,
  .image-bottom-mobile {
    display: none;
  }
}